---
layout: page
title: Clover-Clever의 기술 블로그
permalink: /
---

<!-- Hero ------------------------------------------------------------>
# 🧲⚡🚀 Clover-Clever의 블로그
모스펫 도둑입니다.

---

<!-- 최근 글 --------------------------------------------------------->
## 📝 최근 게시글
<ul>
{% for post in paginator.posts %}
  <li>
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    <small>({{ post.date | date: "%Y-%m-%d" }})</small>
  </li>
{% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<nav class="pagination">
  {% if paginator.previous_page %}[⬅ 이전]({{ paginator.previous_page_path }}){% endif %}
  {% if paginator.next_page %}[다음 ➡]({{ paginator.next_page_path }}){% endif %}
</nav>
{% endif %}
